html, body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

object#qt_embed {
	
}

#site_header {
	width: 100%;
}

#site_header img {
	width: 100px;
	cursor: pointer;
}

img#logo {

}

#splash_page_container {
	min-height: 100%;
	width: 100%;
	background: linear-gradient(#ffffff, #888888);
}

#splash_page_container_background {
	min-height: 100%;
	width: 100%;
	background: url("images/shattered2.png") repeat;
	background-color: rgba(0, 0, 0, 0.5);
}


#splash_container {
	height: 350px;
}

#nav_icons {
	width: 100%;
	text-align: center
}

#nav_icons img {
	width: 50px;
	margin: 0 5%;	
	cursor: pointer
}

#nav_icons span {
	margin: 5%;
	display: inline-block;
}

